#movie-banner {
  padding: 0;
}

#movie-description {
  background: #F8F9FA;
}

#group-btn-list {
  margin-top: 20px;
  padding: 10px 0;
  transform: scale(1.1);
}

#group-btn-list .btn {
  padding: 12px 24px;
  font-size: 1.1rem;
}
