<div class="container">
  <h1>Your Watchlist</h1>

  <% @planned_movies.each do |planned_movie| %>
    <h2><%= planned_movie.movie.title %></h2>
    <p><%= planned_movie.movie.description %></p>
    <%= link_to "More details", movie_path(planned_movie.movie), class: "btn btn-primary" %>
  <% end %>

  <%= link_to "Back to home", "/home", class: "btn btn-primary" %>
</div>
