<div class="container">
  <h1>Your Watchlist</h1>
  <div class="row">
    <% @planned_movies.each do |planned_movie| %>
      <div class="col-3 mb-3">
        <%= link_to movie_path(planned_movie.movie) do %>
          <%= render "shared/cards/movie", movie: planned_movie.movie %>
        <% end %>
      </div>
    <% end %>
  </div>

</div>
