<div class="container">
  <h1>Your likes</h1>
  <div class="row">
    <% @likes.each do |like| %>
      <div class="col-3 mb-3">
        <%= link_to movie_path(like.movie) do %>
          <%= render "shared/cards/movie", movie: like.movie %>
        <% end %>
      </div>
    <% end %>
  </div>

  <%# <%= link_to "Delete like", like_path(like), data: {turbo_method: :delete, turbo_confirm: "Are your sure?"}, class: "btn btn-danger text-white"%>

</div>
