<div class="container my-5 bg-dark text-light p-5 rounded shadow">
  <h1 class="mb-4 text-center">Movies you've liked <i class="fa-regular fa-heart"></i></h1>
  <div class="row">
    <% @likes.each do |like| %>
        <%= render "shared/cards/movie", movie: like.movie %>
    <% end %>
  </div>

  <%# <%= link_to "Delete like", like_path(like), data: {turbo_method: :delete, turbo_confirm: "Are your sure?"}, class: "btn btn-danger text-white"%>

</div>
