<div class="container">
  <h1>Your likes</h1>
  <% @likes.each do |like| %>
    <h2><%= like.movie.title %></h2>
    <p><%= like.movie.description %></p>
    <%= link_to "More details", movie_path(like.movie), class: "btn btn-primary" %>
  <% end %>
  <div class="mt-3">
    <%= link_to "Back to home", root_path, class: "btn btn-flat"%>
  </div>
</div>
