<div class="container">
  <h1>Movies you've seen</h1>

  <div class="row">
    <% @seenMovies.each do |seenMovie| %>
      <div class="col-3 mb-3">
        <%= link_to movie_path(seenMovie.movie) do %>
          <%= render "shared/cards/movie", movie: seenMovie.movie %>
        <% end %>
      </div>
    <% end %>
  </div>

</div>
