<div class="container my-5 bg-dark text-light p-5 rounded shadow">
  <h1 class="mb-4 text-center">Movies you've seen <i class="fa-regular fa-eye"></i></h1>
  <div class="row">
    <% @seenMovies.each do |seenMovie| %>
        <%= render "shared/cards/movie", movie: seenMovie.movie %>
    <% end %>
  </div>

</div>
