<div class="container">
  <h1>Movies you've seen</h1>

  <% @seenMovies.each do |seenMovie| %>
    <h2><%= seenMovie.movie.title %></h2>
    <p><%= seenMovie.movie.description %></p>
    <%= link_to "More details", movie_path(seenMovie.movie), class: "btn btn-primary" %>
  <% end %>

  <%= link_to "Back to movies", movies_path, class: "btn btn-primary" %>
</div>
