<div class="container my-5 bg-dark text-light p-5 rounded shadow">  <div class="row">
    <% current_user.chats.each do |chat| %>
      <div class="col-md-3 mb-4">
        <div id="<%= dom_id(chat) %>">
          <%= link_to chat_path(chat) do %>
            <%= render "shared/cards/chat", movie: chat.movie %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
