<div class="container">
  <h1>Your past conversations</h1>
  <div class="row">
    <% current_user.chats.each do |chat| %>
      <div id="<%= dom_id(chat) %>" class="col-3 mb-3">
          <%= link_to chat_path(chat) do %>
            <%= render "shared/cards/movie", movie: chat.movie %>
          <% end %>
      </div>
    <% end %>
  </div>
</div>
