<div class="container">
  <h1> <%= @chat.title %></h1>

  <div>
	  <%= render "messages/messages", messages: @chat.messages %>
  </div>

  <div>
	  <%= render "messages/form", chat: @chat, message: @message %>
  </div>
</div>

<%= link_to "Back to home", "/home", class: "btn btn-primary" %>
